header
  nav.navbar.navbar-default
    div.container
      div.navbar-header
        a.navbar-brand(href='/')="Bandjo"
      div.navbar-right
        button.dropdown-toggle.nav.navbar-nav.navbar-right(type='button' data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')="Log off "
          span.caret
        ul.dropdown-menu
          li
            a(href='#')="Link"
          li
            a(href='#')="Link"
      
